.section-activities {
  width: 100vw;
  min-height: 85vh;
  max-height: 85vh;
  background-color: var(--grey);
  overflow-y: scroll;
  box-sizing: border-box;
}

/* Estilização do Scrollbar */
.section-activities::-webkit-scrollbar {
  width: 12px;
}

.section-activities::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.section-activities::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.section-activities::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
